{
    "env": {
        "es6": true,
        "amd": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoredNodes": [
                    "JSXElement *"
                ]
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-var": "error",
        "global-require": "error",
        "no-undef": "error",
        "object-curly-spacing": ["error", "never"],
        "array-bracket-spacing": ["error", "never"],
        "key-spacing": [
            "error",
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "strict"
            }
        ],
        "space-in-parens": [
            "error",
            "never"
        ],
        "prefer-const": [
            "error"
        ],
        "prefer-template": [
            "error"
        ],
        "prefer-arrow-callback": [
            "error"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "no-multi-spaces": [
            "error"
        ],
        "template-curly-spacing": [
            "error",
            "never"
        ],
        "newline-per-chained-call": [
            "error",
            {
                "ignoreChainWithDepth": 2
            }
        ],
        "one-var": [
            "error",
            "never"
        ],
        "one-var-declaration-per-line": [
            "error",
            "always"
        ],
        "curly": 2,
        "brace-style": "error",
        "id-length": "error",
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/display-name": 0,
        "react/prop-types": "off"
    }
}
